@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

/* Style Text */
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
